body{
    padding: 0px;
    margin: 0px;
}
.contenedor {
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    text-decoration: none;
    font-size: 78pt;
    color: bisque;
    transition: 1s;
}
.botones:active{
    font-size: 48pt;
    transition: 0.5s;
}

.header {
    height: 30px;
    padding-top: 15px;
    padding-left: 15px;
    background-color: bisque;
    position: fixed;
    width: 100%;
}

.menu{
    position: absolute;
    right: 30px;
    top: 8px;
    font-size: 20pt;
}

.logo{
    position: fixed;
    right: 20px;
    opacity: 0.5;
    bottom: 0px;
} 

img{
    border-radius: 30%;
    transform: rotate(-15deg);
}